@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-HwecZAHGf3YgU: 1140px;
  --plasmic-token-content-max-width: var(--token-HwecZAHGf3YgU);
  --token-iaNdSYLIH9vSu: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-iaNdSYLIH9vSu);
  --token-wFGOOoas3cyWm: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-wFGOOoas3cyWm);
  --token-Xs_Pf9Ib6wbez: #92959bd9;
  --plasmic-token-light-label: var(--token-Xs_Pf9Ib6wbez);
  --token-6bOdSIURF5C6S: #05050599;
  --plasmic-token-light-secondary: var(--token-6bOdSIURF5C6S);
  --token-uBOgr0eXr2B_R: #007aff;
  --plasmic-token-light-blue: var(--token-uBOgr0eXr2B_R);
  --token-G3LODpWn7xpWu: #ff3b30;
  --plasmic-token-light-red: var(--token-G3LODpWn7xpWu);
  --token-kNqdcrXTnl1Cw: #ffffff;
  --plasmic-token-white: var(--token-kNqdcrXTnl1Cw);
  --token-Zbc5xv_VwCS4T: #ffffffd9;
  --plasmic-token-dark-label: var(--token-Zbc5xv_VwCS4T);
  --token-JDDMfncdYZT4B: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-JDDMfncdYZT4B);
  --token-yXY8SQ30JQUDO: #0000001a;
  --plasmic-token-light-quarternary: var(--token-yXY8SQ30JQUDO);
  --token-RGyUBi1qCmUqk: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-RGyUBi1qCmUqk);
  --token-8vaW5y_YGCA7T: #32d74b;
  --plasmic-token-dark-green: var(--token-8vaW5y_YGCA7T);
  --token--p8QqRqlHmBYC: #0a84ff;
  --plasmic-token-dark-blue: var(--token--p8QqRqlHmBYC);
  --token-THgPT7xksNNL2: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-THgPT7xksNNL2);
  --token-L6_jyjejBwQiG: #34c759;
  --plasmic-token-light-green: var(--token-L6_jyjejBwQiG);
  --token-oceRU-1WmbIlO: #5856d6;
  --plasmic-token-light-indigo: var(--token-oceRU-1WmbIlO);
  --token-FKZ9r1d4PW3ys: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-FKZ9r1d4PW3ys);
  --token-FKZ9r1d4PW3ys: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-FKZ9r1d4PW3ys);
  --token-eG91tXUAyuQQw: 1240px;
  --plasmic-token-max-width-navbar: var(--token-eG91tXUAyuQQw);
  --token-eG91tXUAyuQQw: 1240px;
  --plasmic-token-max-width-navbar: var(--token-eG91tXUAyuQQw);
  --token-CFve0l3sj_Kqn: var(--token-8eIKyzaiqvRa4);
  --plasmic-token-unnamed-style-token-2: var(--token-CFve0l3sj_Kqn);
  --token-CFve0l3sj_Kqn: var(--token-8eIKyzaiqvRa4);
  --plasmic-token-unnamed-style-token-2: var(--token-CFve0l3sj_Kqn);
  --token-8eIKyzaiqvRa4: #eeeeee80;
  --plasmic-token-grey: var(--token-8eIKyzaiqvRa4);
  --token-8eIKyzaiqvRa4: #eeeeee80;
  --plasmic-token-grey: var(--token-8eIKyzaiqvRa4);
  --token-WkW5TYOKv: #92959b26;
  --plasmic-token-glass: var(--token-WkW5TYOKv);
}

.plasmic_default_styles {
  --mixin-FXVOibna_R_lK_font-family: "Montserrat";
  --mixin-FXVOibna_R_lK_font-size: 24px;
  --mixin-FXVOibna_R_lK_font-weight: 500;
  --mixin-FXVOibna_R_lK_font-style: normal;
  --mixin-FXVOibna_R_lK_color: #00000080;
  --mixin-FXVOibna_R_lK_text-align: left;
  --mixin-FXVOibna_R_lK_text-transform: none;
  --mixin-FXVOibna_R_lK_line-height: 1.5;
  --mixin-FXVOibna_R_lK_letter-spacing: normal;
  --mixin-FXVOibna_R_lK_white-space: pre-wrap;
  --mixin-FXVOibna_R_lK_user-select: text;
  --mixin-FXVOibna_R_lK_text-decoration-line: none;
  --mixin-FXVOibna_R_lK_text-overflow: clip;
  --mixin-YdfQkgDSR04oq_white-space: pre-wrap;
  --mixin-8hPRPkBXgSM95_font-family: "Montserrat";
  --mixin-8hPRPkBXgSM95_color: #ffffff;
  --mixin-8hPRPkBXgSM95_font-size: 72px;
  --mixin-8hPRPkBXgSM95_font-weight: 700;
  --mixin-8hPRPkBXgSM95_line-height: 88px;
  --mixin-8hPRPkBXgSM95_white-space: pre-wrap;
  --mixin-MfYcKu0coKEyn_font-family: "Inter";
  --mixin-MfYcKu0coKEyn_color: #000000;
  --mixin-MfYcKu0coKEyn_font-size: 36px;
  --mixin-MfYcKu0coKEyn_font-weight: 700;
  --mixin-MfYcKu0coKEyn_line-height: 43px;
  --mixin-MfYcKu0coKEyn_text-align: center;
  --mixin-MfYcKu0coKEyn_white-space: pre-wrap;
  --mixin-dasdwt818qRHP_font-family: "Inter";
  --mixin-dasdwt818qRHP_color: #000000;
  --mixin-dasdwt818qRHP_font-size: 24px;
  --mixin-dasdwt818qRHP_font-weight: 600;
  --mixin-dasdwt818qRHP_letter-spacing: -0.5px;
  --mixin-dasdwt818qRHP_line-height: 1.3;
  --mixin-dasdwt818qRHP_white-space: pre-wrap;
  --mixin-ERXFXILbcEXyc_font-family: "Montserrat";
  --mixin-ERXFXILbcEXyc_color: #185adb;
  --mixin-ERXFXILbcEXyc_font-size: 24px;
  --mixin-ERXFXILbcEXyc_font-weight: 700;
  --mixin-ERXFXILbcEXyc_line-height: 29px;
  --mixin-ERXFXILbcEXyc_text-align: center;
  --mixin-ERXFXILbcEXyc_white-space: pre-wrap;
  --mixin-4EAOYtL6gVFrk_font-family: "Inter";
  --mixin-4EAOYtL6gVFrk_color: #000000;
  --mixin-4EAOYtL6gVFrk_font-size: 16px;
  --mixin-4EAOYtL6gVFrk_font-weight: 600;
  --mixin-4EAOYtL6gVFrk_line-height: 1.5;
  --mixin-4EAOYtL6gVFrk_white-space: pre-wrap;
  --mixin-G4a1lb-Gut45b_border-left-color: #dddddd;
  --mixin-G4a1lb-Gut45b_border-left-style: solid;
  --mixin-G4a1lb-Gut45b_border-left-width: 3px;
  --mixin-G4a1lb-Gut45b_color: #888888;
  --mixin-G4a1lb-Gut45b_padding-left: 10px;
  --mixin-G4a1lb-Gut45b_white-space: pre-wrap;
  --mixin-PjVi8L0X_qKo6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PjVi8L0X_qKo6_border-bottom-color: #dddddd;
  --mixin-PjVi8L0X_qKo6_border-bottom-style: solid;
  --mixin-PjVi8L0X_qKo6_border-bottom-width: 1px;
  --mixin-PjVi8L0X_qKo6_border-left-color: #dddddd;
  --mixin-PjVi8L0X_qKo6_border-left-style: solid;
  --mixin-PjVi8L0X_qKo6_border-left-width: 1px;
  --mixin-PjVi8L0X_qKo6_border-right-color: #dddddd;
  --mixin-PjVi8L0X_qKo6_border-right-style: solid;
  --mixin-PjVi8L0X_qKo6_border-right-width: 1px;
  --mixin-PjVi8L0X_qKo6_border-top-color: #dddddd;
  --mixin-PjVi8L0X_qKo6_border-top-style: solid;
  --mixin-PjVi8L0X_qKo6_border-top-width: 1px;
  --mixin-PjVi8L0X_qKo6_border-bottom-left-radius: 3px;
  --mixin-PjVi8L0X_qKo6_border-bottom-right-radius: 3px;
  --mixin-PjVi8L0X_qKo6_border-top-left-radius: 3px;
  --mixin-PjVi8L0X_qKo6_border-top-right-radius: 3px;
  --mixin-PjVi8L0X_qKo6_font-family: "Inconsolata";
  --mixin-PjVi8L0X_qKo6_padding-bottom: 1px;
  --mixin-PjVi8L0X_qKo6_padding-left: 4px;
  --mixin-PjVi8L0X_qKo6_padding-right: 4px;
  --mixin-PjVi8L0X_qKo6_padding-top: 1px;
  --mixin-PjVi8L0X_qKo6_white-space: pre-wrap;
  --mixin-paKB53AMoPj3i_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-paKB53AMoPj3i_border-bottom-color: #dddddd;
  --mixin-paKB53AMoPj3i_border-bottom-style: solid;
  --mixin-paKB53AMoPj3i_border-bottom-width: 1px;
  --mixin-paKB53AMoPj3i_border-left-color: #dddddd;
  --mixin-paKB53AMoPj3i_border-left-style: solid;
  --mixin-paKB53AMoPj3i_border-left-width: 1px;
  --mixin-paKB53AMoPj3i_border-right-color: #dddddd;
  --mixin-paKB53AMoPj3i_border-right-style: solid;
  --mixin-paKB53AMoPj3i_border-right-width: 1px;
  --mixin-paKB53AMoPj3i_border-top-color: #dddddd;
  --mixin-paKB53AMoPj3i_border-top-style: solid;
  --mixin-paKB53AMoPj3i_border-top-width: 1px;
  --mixin-paKB53AMoPj3i_border-bottom-left-radius: 3px;
  --mixin-paKB53AMoPj3i_border-bottom-right-radius: 3px;
  --mixin-paKB53AMoPj3i_border-top-left-radius: 3px;
  --mixin-paKB53AMoPj3i_border-top-right-radius: 3px;
  --mixin-paKB53AMoPj3i_font-family: "Inconsolata";
  --mixin-paKB53AMoPj3i_padding-bottom: 3px;
  --mixin-paKB53AMoPj3i_padding-left: 6px;
  --mixin-paKB53AMoPj3i_padding-right: 6px;
  --mixin-paKB53AMoPj3i_padding-top: 3px;
  --mixin-paKB53AMoPj3i_white-space: pre-wrap;
  --mixin-mTmaTTWwstQCA_display: flex;
  --mixin-mTmaTTWwstQCA_flex-direction: column;
  --mixin-mTmaTTWwstQCA_align-items: stretch;
  --mixin-mTmaTTWwstQCA_justify-content: flex-start;
  --mixin-mTmaTTWwstQCA_list-style-position: outside;
  --mixin-mTmaTTWwstQCA_padding-left: 40px;
  --mixin-mTmaTTWwstQCA_position: relative;
  --mixin-mTmaTTWwstQCA_list-style-type: decimal;
  --mixin-mTmaTTWwstQCA_white-space: pre-wrap;
  --mixin-sl9Y8sUayQUj__display: flex;
  --mixin-sl9Y8sUayQUj__flex-direction: column;
  --mixin-sl9Y8sUayQUj__align-items: stretch;
  --mixin-sl9Y8sUayQUj__justify-content: flex-start;
  --mixin-sl9Y8sUayQUj__list-style-position: outside;
  --mixin-sl9Y8sUayQUj__padding-left: 40px;
  --mixin-sl9Y8sUayQUj__position: relative;
  --mixin-sl9Y8sUayQUj__list-style-type: disc;
  --mixin-sl9Y8sUayQUj__white-space: pre-wrap;
  --mixin-zx155qcHyUYp__color: #000000;
  --mixin-zx155qcHyUYp__font-family: "Montserrat";
  --mixin-zx155qcHyUYp__font-size: 64px;
  --mixin-zx155qcHyUYp__font-weight: 700;
  --mixin-zx155qcHyUYp__line-height: 78px;
  --mixin-zx155qcHyUYp__text-align: center;
  --mixin-zx155qcHyUYp__white-space: pre-wrap;
  --mixin-aobtpqofnSaIW_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-FXVOibna_R_lK_font-size: 16px;
    --mixin-FXVOibna_R_lK_line-height: 27px;
    --mixin-FXVOibna_R_lK_white-space: pre-wrap;
    --mixin-8hPRPkBXgSM95_font-size: 40px;
    --mixin-8hPRPkBXgSM95_line-height: 48px;
    --mixin-8hPRPkBXgSM95_white-space: pre-wrap;
    --mixin-zx155qcHyUYp__font-size: 28px;
    --mixin-zx155qcHyUYp__line-height: 34px;
    --mixin-zx155qcHyUYp__white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-w1owwe49Dgwxe_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-w1owwe49Dgwxe_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-FXVOibna_R_lK_font-family);
  font-size: var(--mixin-FXVOibna_R_lK_font-size);
  font-weight: var(--mixin-FXVOibna_R_lK_font-weight);
  font-style: var(--mixin-FXVOibna_R_lK_font-style);
  color: var(--mixin-FXVOibna_R_lK_color);
  text-align: var(--mixin-FXVOibna_R_lK_text-align);
  text-transform: var(--mixin-FXVOibna_R_lK_text-transform);
  line-height: var(--mixin-FXVOibna_R_lK_line-height);
  letter-spacing: var(--mixin-FXVOibna_R_lK_letter-spacing);
  white-space: var(--mixin-FXVOibna_R_lK_white-space);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-8hPRPkBXgSM95_font-family);
  color: var(--mixin-8hPRPkBXgSM95_color);
  font-size: var(--mixin-8hPRPkBXgSM95_font-size);
  font-weight: var(--mixin-8hPRPkBXgSM95_font-weight);
  line-height: var(--mixin-8hPRPkBXgSM95_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-MfYcKu0coKEyn_font-family);
  color: var(--mixin-MfYcKu0coKEyn_color);
  font-size: var(--mixin-MfYcKu0coKEyn_font-size);
  font-weight: var(--mixin-MfYcKu0coKEyn_font-weight);
  line-height: var(--mixin-MfYcKu0coKEyn_line-height);
  text-align: var(--mixin-MfYcKu0coKEyn_text-align);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-dasdwt818qRHP_font-family);
  color: var(--mixin-dasdwt818qRHP_color);
  font-size: var(--mixin-dasdwt818qRHP_font-size);
  font-weight: var(--mixin-dasdwt818qRHP_font-weight);
  letter-spacing: var(--mixin-dasdwt818qRHP_letter-spacing);
  line-height: var(--mixin-dasdwt818qRHP_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-ERXFXILbcEXyc_font-family);
  color: var(--mixin-ERXFXILbcEXyc_color);
  font-size: var(--mixin-ERXFXILbcEXyc_font-size);
  font-weight: var(--mixin-ERXFXILbcEXyc_font-weight);
  line-height: var(--mixin-ERXFXILbcEXyc_line-height);
  text-align: var(--mixin-ERXFXILbcEXyc_text-align);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-4EAOYtL6gVFrk_font-family);
  color: var(--mixin-4EAOYtL6gVFrk_color);
  font-size: var(--mixin-4EAOYtL6gVFrk_font-size);
  font-weight: var(--mixin-4EAOYtL6gVFrk_font-weight);
  line-height: var(--mixin-4EAOYtL6gVFrk_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-G4a1lb-Gut45b_color);
  padding-left: var(--mixin-G4a1lb-Gut45b_padding-left);
  border-left: var(--mixin-G4a1lb-Gut45b_border-left-width)
    var(--mixin-G4a1lb-Gut45b_border-left-style)
    var(--mixin-G4a1lb-Gut45b_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-PjVi8L0X_qKo6_background);
  font-family: var(--mixin-PjVi8L0X_qKo6_font-family);
  border-radius: var(--mixin-PjVi8L0X_qKo6_border-top-left-radius)
    var(--mixin-PjVi8L0X_qKo6_border-top-right-radius)
    var(--mixin-PjVi8L0X_qKo6_border-bottom-right-radius)
    var(--mixin-PjVi8L0X_qKo6_border-bottom-left-radius);
  padding: var(--mixin-PjVi8L0X_qKo6_padding-top)
    var(--mixin-PjVi8L0X_qKo6_padding-right)
    var(--mixin-PjVi8L0X_qKo6_padding-bottom)
    var(--mixin-PjVi8L0X_qKo6_padding-left);
  border-top: var(--mixin-PjVi8L0X_qKo6_border-top-width)
    var(--mixin-PjVi8L0X_qKo6_border-top-style)
    var(--mixin-PjVi8L0X_qKo6_border-top-color);
  border-right: var(--mixin-PjVi8L0X_qKo6_border-right-width)
    var(--mixin-PjVi8L0X_qKo6_border-right-style)
    var(--mixin-PjVi8L0X_qKo6_border-right-color);
  border-bottom: var(--mixin-PjVi8L0X_qKo6_border-bottom-width)
    var(--mixin-PjVi8L0X_qKo6_border-bottom-style)
    var(--mixin-PjVi8L0X_qKo6_border-bottom-color);
  border-left: var(--mixin-PjVi8L0X_qKo6_border-left-width)
    var(--mixin-PjVi8L0X_qKo6_border-left-style)
    var(--mixin-PjVi8L0X_qKo6_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-paKB53AMoPj3i_background);
  font-family: var(--mixin-paKB53AMoPj3i_font-family);
  border-radius: var(--mixin-paKB53AMoPj3i_border-top-left-radius)
    var(--mixin-paKB53AMoPj3i_border-top-right-radius)
    var(--mixin-paKB53AMoPj3i_border-bottom-right-radius)
    var(--mixin-paKB53AMoPj3i_border-bottom-left-radius);
  padding: var(--mixin-paKB53AMoPj3i_padding-top)
    var(--mixin-paKB53AMoPj3i_padding-right)
    var(--mixin-paKB53AMoPj3i_padding-bottom)
    var(--mixin-paKB53AMoPj3i_padding-left);
  border-top: var(--mixin-paKB53AMoPj3i_border-top-width)
    var(--mixin-paKB53AMoPj3i_border-top-style)
    var(--mixin-paKB53AMoPj3i_border-top-color);
  border-right: var(--mixin-paKB53AMoPj3i_border-right-width)
    var(--mixin-paKB53AMoPj3i_border-right-style)
    var(--mixin-paKB53AMoPj3i_border-right-color);
  border-bottom: var(--mixin-paKB53AMoPj3i_border-bottom-width)
    var(--mixin-paKB53AMoPj3i_border-bottom-style)
    var(--mixin-paKB53AMoPj3i_border-bottom-color);
  border-left: var(--mixin-paKB53AMoPj3i_border-left-width)
    var(--mixin-paKB53AMoPj3i_border-left-style)
    var(--mixin-paKB53AMoPj3i_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-mTmaTTWwstQCA_display);
  flex-direction: var(--mixin-mTmaTTWwstQCA_flex-direction);
  align-items: var(--mixin-mTmaTTWwstQCA_align-items);
  justify-content: var(--mixin-mTmaTTWwstQCA_justify-content);
  list-style-position: var(--mixin-mTmaTTWwstQCA_list-style-position);
  padding-left: var(--mixin-mTmaTTWwstQCA_padding-left);
  position: var(--mixin-mTmaTTWwstQCA_position);
  list-style-type: var(--mixin-mTmaTTWwstQCA_list-style-type);
  flex-column-gap: var(--mixin-mTmaTTWwstQCA_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-sl9Y8sUayQUj__display);
  flex-direction: var(--mixin-sl9Y8sUayQUj__flex-direction);
  align-items: var(--mixin-sl9Y8sUayQUj__align-items);
  justify-content: var(--mixin-sl9Y8sUayQUj__justify-content);
  list-style-position: var(--mixin-sl9Y8sUayQUj__list-style-position);
  padding-left: var(--mixin-sl9Y8sUayQUj__padding-left);
  position: var(--mixin-sl9Y8sUayQUj__position);
  list-style-type: var(--mixin-sl9Y8sUayQUj__list-style-type);
  flex-column-gap: var(--mixin-sl9Y8sUayQUj__flex-column-gap);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-zx155qcHyUYp__color);
  font-family: var(--mixin-zx155qcHyUYp__font-family);
  font-size: var(--mixin-zx155qcHyUYp__font-size);
  font-weight: var(--mixin-zx155qcHyUYp__font-weight);
  line-height: var(--mixin-zx155qcHyUYp__line-height);
  text-align: var(--mixin-zx155qcHyUYp__text-align);
}

:where(.root_reset .plasmic_default__h2:hover),
:where(.root_reset .h2:hover),
:where(.root_reset .__wab_expr_html_text h2:hover),
:where(.root_reset.plasmic_default__h2:hover) {
}
